:root{
    --btn-color1:#008080;
    --btn-color2:#2879fe;
    --body-color:#ebebeb
}
body{
    margin: 0;
    background-color:var(--body-color) ;
}
html{
    scroll-behavior: smooth;
}
.links{
    color: inherit;
    text-decoration: none;
}
*{
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}
:target{
    outline: 2px solid red;
    outline-offset: 10px;
}
.active{
    font-size:1.2rem;
    font-weight:bold;
    color:#2879fe;
    border-bottom:1px solid;
}
.activeicon{
    background-color:#2879fe;
}