body{
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
.links{
    color: inherit;
    text-decoration: none;
}
*{
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}
:target{
    outline: 2px solid red;
    outline-offset: 10px;
}